{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Change Password</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Change Password</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg p-5">
          <h3 class="text-center mb-4">Change Your Password</h3>
  
          {% if messages %}
          {% for message in messages %}
          <div class="alert {{ message.tags }} mt-3">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
  
          <form method="POST" style="margin-bottom: 3rem;">
            {% csrf_token %}
            <div class="form-group mb-4">
              <label for="old_password">Old Password</label>
              <input type="password" id="old_password" name="old_password" class="form-control" required>
            </div>
            <div class="form-group mb-4">
              <label for="new_password">New Password</label>
              <input type="password" id="new_password" name="new_password" class="form-control" required>
            </div>
            <div class="form-group mb-4">
              <label for="confirm_password">Confirm New Password</label>
              <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}