{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Update Profile</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Update Profile</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">

       
        {% include 'messages.html' %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        

        <form method="POST" class="p-4 border rounded" enctype="multipart/form-data">
          {% csrf_token %}
          {% if form.instance.image_verified %}
          <div class="form-group text-center mb-4">
            <img src="{{ form.instance.profile_image.url }}" 
                 alt="Profile Image" 
                 width="200" 
                 height="200" 
                 id="profileImage" 
                 style="cursor: pointer;" 
                 data-toggle="modal" 
                 data-target="#profileImageModal">
          </div>
          {% else %}
          <img src="{% static 'images/default-image.jpg' %}" 
          alt="Default Profile Image" 
          width="100" 
          height="100" 
          id="profileImage" 
          style="cursor: pointer;" 
          data-toggle="modal" 
          data-target="#profileImageModal">
   </div>
          {% endif %}

          {% for field in form %}
          {% if field.name == 'gender' %}
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male gender" value="M"
                  {% if field.value == 'M' %} checked {% endif %}>
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="F"
                  {% if field.value == 'F' %} checked {% endif %}>
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
          </div>

          {% elif field.name == 'profile_image' %}
          <!-- Hidden profile image field to allow updating it -->
          <div class="form-group">
            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="file" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
          </div>
          
          {% elif field.name == 'resume' %}
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="file" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
              {% if field.value %}
              <p>Current Resume: <a href="{{ field.value.url }}" target="_blank">View File</a></p>
              {% endif %}
            </div>
          </div>

         

          {% else %}

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                id="id_{{ field.name }}" value="{{ field.value }}"
                placeholder="{{ field.field.widget.attrs.placeholder }}">
            </div>
          </div>

          {% endif %}
          {% endfor %}
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Update" class="btn px-4 btn-primary text-white">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="profileImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img id="modalProfileImage" src="" class="img-fluid" alt="Profile Image">
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('profileImage').addEventListener('click', function() {
    var modalImage = document.getElementById('modalProfileImage');
    modalImage.src = this.src;
  });
</script>

{% endblock %}